.footer {
  background-color: #051473;
  padding-top: 80px;
  padding-bottom: 80px;

  a,
  h3 {
    color: #faeb8c;
  }

  h3 {
    line-height: 1;
    margin-bottom: 15px;
    @include breakpoint(up, lg) {
      margin-bottom: 20px;
    }
  }

  &__list {
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0;
    @include breakpoint(up, lg) {
      margin: 0;
    }
    a {
      text-decoration: none;
    }

    li:not(:last-child) {
      margin-bottom: 7px;
    }
  }

  &__logo {
    height: 70px;
    margin-bottom: 30px;
    @include breakpoint(up, lg) {
      margin-bottom: 0;
    }
  }

  &__socials {
    display: flex;
    margin-top: 40px;
    @include breakpoint(up, lg) {
      margin-top: 0;
    }
    a {
      display: inline-block;
      &:not(:last-of-type) {
        margin-right: 20px;
      }
    }
    img {
      height: 20px;
      width: auto;
    }
  }
}
