@import "./media-query.scss";
@import "./typography.scss";
@import "./components/Header/Header";
@import "./components/Hero/Hero";
@import "./components/LargeImage/LargeImage";
@import "./components/ImageGrid/ImageGrid";
@import "./components/TextBlocks/TextBlocks";
@import "./components/Footer/Footer";

body {
  background-color: #faeb8c;
  color: #051473;
}

.padding-sides {
  padding-left: 20px;
  padding-right: 20px;
  @include breakpoint(up, lg) {
    padding-left: 170px;
    padding-right: 170px;
  }
}
