@import "./typography.scss";
@import "./media-query.scss";
@import "./typography.scss";

@import "./components/Header/Header";
@import "./components/Hero/Hero";
@import "./components/LargeImage/LargeImage";
@import "./components/ImageGrid/ImageGrid";
@import "./components/TextBlocks/TextBlocks";
@import "./components/Footer/Footer";

$blue: #051473;

body {
  background-color: #faeb8c;
  color: $blue;
}

.padding-sides {
  padding-left: 170px;
  padding-right: 170px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.col-padding {
  padding-left: 15px;
  padding-right: 15px;
}
