@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Playfair+Display&display=swap");

$title-font: "Playfair Display", serif;
$body-font: "DM Sans", sans-serif;

body {
  font-family: $body-font;
  font-weight: 400;
}

h1 {
  font-family: $title-font;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 98.7%;

  @include breakpoint(up, lg) {
    font-size: 90px;
  }

  @include breakpoint(up, xxl) {
    font-size: 101px;
  }
}

h2 {
  font-family: $title-font;
  font-weight: 400;
  font-size: 32px;
  line-height: 120.7%;
  @include breakpoint(up, lg) {
    font-size: 42px;
  }
}

h3 {
  font-family: $title-font;
  font-weight: 400;
  font-size: 28px;
  line-height: 198.7%;
  @include breakpoint(up, lg) {
    font-size: 38px;
  }
}

h4 {
  font-family: $body-font;
  font-weight: 700;
  font-size: 18px;
  line-height: 153.7%;
  @include breakpoint(up, lg) {
    font-size: 28px;
  }
}

.large-text {
  font-family: $title-font;
  font-size: 30px;
  line-height: 120.7%;
  @include breakpoint(up, lg) {
    font-size: 40px;
  }
}

p {
  font-size: 16px;
  line-height: 153.7%;
  @include breakpoint(up, lg) {
    font-size: 24px;
  }
}

.footer__list a {
  font-weight: 400;
  font-size: 14px;
  line-height: 165.7%;
  @include breakpoint(up, lg) {
    font-size: 20px;
  }
}
